---
title: "Real Estate |Industries | Fail/Safe Media"
description: "Meta description for the page"
permalink: "/industries/real-estate/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/industries.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1957">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Real Estate</span>
            <h1 class="cs-title">We Give Agents Top Advantage in Leads </h1>
            <p class="cs-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua quis nostrud exerc.</p>
            <a href="" class="cs-button-solid">Get Started</a>
        </div>
    </div>
    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/realestate.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/realestate.jpg.jpg">
        <img decoding="async" src="/assets/images/realestate.jpg" alt="real estate agent" width="1920" height="746" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">How We Help Real Estate Agents</h2>
            <p class="cs-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                {# <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div> #}
                <div class="cs-flex">
                    <h2 class="cs-h2">Lorem Ipsum Dolor </h2>
                    <p class="cs-item-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
            </li>
            <li class="cs-item">
                {# <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dashboard-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div> #}
                <div class="cs-flex">
                    <h2 class="cs-h2">Lorem Ipsum Dolor </h2>
                    <p class="cs-item-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
            </li>
            <li class="cs-item">
                {# <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Lifebuoy-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div> #}
                <div class="cs-flex">
                    <h2 class="cs-h2">Lorem Ipsum Dolor</h2>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
            </li>
            <li class="cs-item">
                {# <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div> #}
                <div class="cs-flex">
                    <h2 class="cs-h2">Lorem Ipsum Dolor</h2>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>

<!-- ============================================ -->
<!--                Call To Action                -->
<!-- ============================================ -->

<section id="cta-2443">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Let's Talk</h2>
            <div class="cs-flex">
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <a href="" class="cs-button-solid">Schedule An Appointment</a>
            </div>
        </div>
    </div>
    {# <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/art17.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/art17.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/art17.jpg" alt="tattoo face" width="1280" height="568">
    </picture> #}
</section>
                                
                                s

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2357">
    <div class="cs-container">
        <div class="cs-flex">
            <div class="cs-image-group cs-image-group1">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building17.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building17.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building17.jpg" alt="nice house" width="517" height="650">
                </picture>
                {# <a href="" class="cs-link">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-up-right.svg" alt="icon" width="24" height="24">
                    16 Revene Marin, New York
                </a> #}
            </div>
            <div class="cs-stat">
                <span class="cs-number">1.4K <span class="cs-color">+</span></span>
                <span class="cs-desc">Complete Projects</span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Stand Out</span>
            <h2 class="cs-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            <div class="cs-image-group cs-image-group2">
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room3.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room3.jpg" alt="nice house" width="1215" height="660">
                </picture>
                {# <a href="" class="cs-link">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-up-right.svg" alt="icon" width="24" height="24">
                    16 Revene Marin, New York
                </a> #}
            </div>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Agents Say About Us</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review1.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Nulla ultricies justo sit amet ante efficitur, eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.
                </p>
                <div class="cs-flex">
                    <span class="cs-name">Martha Darby</span>
                    <span class="cs-desc">Senior Executive</span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Nulla ultricies justo sit amet ante efficitur, eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.
                </p>
                <div class="cs-flex">
                    <span class="cs-name">Brayan Grilcist</span>
                    <span class="cs-desc">Senior Executive</span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/reviews3.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Nulla ultricies justo sit amet ante efficitur, eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.
                </p>
                <div class="cs-flex">
                    <span class="cs-name">Brucei Elowed </span>
                    <span class="cs-desc">Senior Executive</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-483">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Projects</span>
            <h2 class="cs-title">Check Out Our Work</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut. 
            </p>
            <a href="" class="cs-cta">
                <!--Arrow Right-->
                <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="#FAFBFC" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="#FAFBFC" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
                <!--Wrapped in a span so it can be animated-->
                <span class="cs-cta-text">See<br> Portfolio</span>
            </a>
            <picture class="cs-content-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="630" height="532">
            </picture>
        </div>
        <div class="cs-grid">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="522">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="348">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="387">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="483">
            </picture>
        </div>
    </div>
</section>
                                                            

    {% include 'sections/cta.html' %}

{% endblock %}