/*-- -------------------------- -->
<---         CS-Content         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #cs-content-830 {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;

        
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-content-830 {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .cs-title {
            margin: 0;
        }
    }
}

                                
/*-- -------------------------- -->
<---         Team Info        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-1451 {
        padding-top: clamp(12rem, 18vw, 15rem);
        padding-left: clamp(3.75rem, 7.82vw, 6.25rem);
        padding-right: clamp(3.75rem, 7.82vw, 6.25rem);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: calc(944 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 6vw, 6.25rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 100%;
            /* padding left and right added on tablet */
            padding: 0 0 calc(64 / 16 * 1rem) 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            position: relative;
            z-index: 1;
        }

        .cs-info {
            width: 100%;
            /* 16px - 48px */
            padding: 0 clamp(1rem, 5vw, 3rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
            z-index: 1;

            &:before {
                /* grey background, moves to the cs-content at tablet */
                content: '';
                width: 100%;
                height: 85%;
                background: #F7F7F7;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-header {
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            /* 12px - 24px */
            margin: 0 0 clamp(.75rem, 1.5vw, 1.5rem);
            color: var(--headerColor);
            display: block;
        }
    
        .cs-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            max-width: calc(700 / 16 * 1rem);
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-picture {
            /* width and height changes at tablet */
            width: 85%;
            max-width: calc(350 / 16 * 1rem);
            height: calc(330 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* positions the top of the image to line up wiht the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-floater {
            /* 100px - 192px */
            width: auto;
            height: clamp(6.25rem, 15vw, 12rem);
            display: none;
            position: absolute;
            right: calc(50 / 16 * 1rem);
            top: calc(-75 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about-1451 {
        .cs-info {
            flex-direction: row;
            padding: 0;

            &:nth-of-type(even) {
                .cs-content {
                    padding-left: calc(36 / 16 * 1rem);
                    padding-right: calc(20 / 16 * 1rem);
                    &:before {
                        left: 0;
                        right: auto;
                    }
                }

                .cs-picture {
                    /* sends it to the right in the 2nd position */
                    order: 2;
                }
            }

            &:before {
                display: none;
            }
        }

        .cs-content {
            /* 40px - 148px */
            margin-top: clamp(2.5rem, 7vw, 7.8125rem);
            /* 32px - 148px */
            padding: clamp(2rem, 10vw, 9.375rem) calc(36 / 16 * 1rem) calc(64 / 16 * 1rem) calc(20 / 16 * 1rem);

            &:before {
                /* grey background */
                content: '';
                width: 120%;
                height: 100%;
                background: #F7F7F7;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
        }

        .cs-picture {
            /* width and height changes again on larger desktop */
            width: 38%;
            max-width: calc(260 / 16 * 1rem);
            /* 260px - 348px */
            height: clamp(16.25rem, 36vw, 21.75rem);
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #about-1451 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-info {
            align-items: stretch;
        }

        .cs-picture {
            height: auto;
            min-height: calc(696 / 16 * 1rem);
            width: calc(522 / 16 * 1rem);
            max-width: calc(522 / 16 * 1rem);
            margin-bottom: calc(64 / 16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Larger Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #about-1451 {
        .cs-info {
            &:nth-of-type(even) {
                .cs-picture {
                    margin-left: 0;
                }
            }
        }
        
        .cs-picture {
            margin-left: calc(-88 / 16 * 1rem);
        }
    }
}
                                