// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2154 {
        padding: var(--sectionPadding);
        /* 150px - 200px - top leaving extra space for the navigation */
        /* 40px - 90px bottom */
        padding: clamp(9.375rem, 16.95vw, 12.5rem) calc(16/16 * 1rem) clamp(2.5rem, 4.82vw, 5.625rem) calc(16/16 * 1rem);
        background-color: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(704/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 5vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-flex {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.438rem, 5vw, 3.813rem);
            text-transform: uppercase;
        }

        .cs-text {
            max-width: none;
        }

        .cs-video-group {
            width: 100%;
            /* 340px - 547px */
            height: clamp(21.25rem, 42.5vw, 34.2rem);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-video-wrapper {
            width: 100%;
            /* changes to 90% at tablet, then back to 100% at desktop */
            height: 100%;
            display: block;
            position: relative;

            &:hover {
                cursor: pointer;
                .cs-play {
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }

            video, .cs-picture {
                width: 100%;
                height: 100%;
                /* makes image act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    /* makes image act as a background image */
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
                    /* prevents the cursor from interacting with it */
                    pointer-events: none;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }

        .cs-play {
            /* 80px - 120px */
            width: clamp(5rem, 14vw, 7.5rem);
            height: clamp(5rem, 14vw, 7.5rem);
            background-color: rgba(255, 255, 255, .2);
            pointer-events: none;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            transition: transform .3s, opacity .3s;
            backdrop-filter: blur(8px);

            &.cs-hide {
                opacity: 0;
                transform: translate(-50%, -50%) scale(0) !important;
            }
        }

        .cs-icon {
            width: calc(20/16 * 1rem);
            height: auto;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2154 {
        .cs-container {
            max-width: calc(944/16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-flex {
            width: 50%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            max-width: calc(382/16 * 1rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2154 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-2154 {
        .cs-container {
            max-width: calc(1720/16 * 1rem);
        }

        .cs-text {
            max-width: calc(560/16 * 1rem);
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1257,
    #RPsbsr-1257 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-ul {
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            /* clips the bullets to create the half circle */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
            position: relative;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
            font-size: min(2.207vw, 0.845em);
            width: calc(650 / 16 * 1em);
            height: calc(658 / 16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            border-radius: calc(8 / 16 * 1em);
            overflow: hidden;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(203 / 16 * 1em);
            height: calc(203 / 16 * 1em);
            top: calc(20 / 16 * 1em);
            left: calc(18 / 16 * 1em);
        }

        .cs-picture2 {
            width: calc(208 / 16 * 1em);
            height: calc(208 / 16 * 1em);
            top: 0;
            left: calc(225 / 16 * 1em);
        }

        .cs-picture3 {
            width: calc(214 / 16 * 1em);
            height: calc(214 / 16 * 1em);
            top: calc(9 / 16 * 1em);
            right: 0;
        }

        .cs-picture4 {
            width: calc(224 / 16 * 1em);
            height: calc(224 / 16 * 1em);
            top: calc(227 / 16 * 1em);
            left: 0;
        }

        .cs-picture5 {
            width: calc(287 / 16 * 1em);
            height: calc(287 / 16 * 1em);
            box-shadow: 0px 24px 122px 0px rgba(0, 0, 0, 0.78);
            top: calc(175 / 16 * 1em);
            left: calc(174 / 16 * 1em);
            z-index: 10;
        }

        .cs-picture6 {
            width: calc(203 / 16 * 1em);
            height: calc(203 / 16 * 1em);
            bottom: 0;
            left: calc(38 / 16 * 1em);
        }

        .cs-picture7 {
            width: calc(204 / 16 * 1em);
            height: calc(204 / 16 * 1em);
            top: calc(227 / 16 * 1em);
            right: calc(20 / 16 * 1em);
        }

        .cs-picture8 {
            width: calc(223 / 16 * 1em);
            height: calc(223 / 16 * 1em);
            bottom: calc(60 / 16 * 1em);
            left: calc(246 / 16 * 1em);
        }

        .cs-waves-wrapper {
            /* changes to 100% at desktop */
            width: 100vw;
            height: 150%;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            /* changes at desktop */
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1257,
    #RPsbsr-1257 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .cs-waves-wrapper {
            width: 100%;
            bottom: 50%;
            transform: translate(-50%, 50%);
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1257 {
        background-color: #fff;

        .cs-picture1 {
            left: auto;
            right: calc(18 / 16 * 1em);
        }

        .cs-picture2 {
            left: auto;
            right: calc(225 / 16 * 1em);
        }

        .cs-picture3 {
            right: auto;
            left: 0;
        }

        .cs-picture4 {
            left: auto;
            right: 0;
        }

        .cs-picture5 {
            left: auto;
            right: calc(174 / 16 * 1em);
        }

        .cs-picture6 {
            left: auto;
            right: calc(38 / 16 * 1em);
        }

        .cs-picture7 {
            right: auto;
            left: calc(20 / 16 * 1em);
        }

        .cs-picture8 {
            left: auto;
            right: calc(246 / 16 * 1em);
        }

        .cs-waves-wrapper {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-1257 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-545 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1080 / 16 * 1rem);
            margin: auto;
        }

        .cs-review-group {
            /* padding left and right change to a clamp at tablet */
            padding: calc(64 / 16 * 1rem) calc(20 / 16 * 1rem);
            background-color: var(--primary);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(40 / 16 * 1rem);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            display: block;
            position: relative;
            /* 144px - 256px */
            width: clamp(9rem, 21vw, 16rem);
            /* prevents flexbox from squishing it */
            flex: none;
            /* makes it square */
            aspect-ratio: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-content {
            max-width: calc(550 / 16 * 1rem);
        }

        .cs-review {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            text-align: left;
            font-weight: 400;
            /* 20px - 36px */
            margin: 0 0 clamp(1.25rem, 4vw, 2.25rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-desc {
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-pattern {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            /* makes it act like a background image */
            object-fit: cover;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-545 {
        .cs-review-group {
            /* 60px - 92px left & right */
            padding: calc(64 / 16 * 1rem) clamp(3.75rem, 8vw, 5.75rem);
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-picture {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

                                